a{
    text-decoration: none;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 140, 255);
}

.top{
    background-color:rgb(0, 140, 255);
}

.header{
    margin: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.header-links a{
    color: white;
}

.header-links{
    display: flex;
    gap: 40px;
}

.content{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
}

.text{
    border: 1px solid black;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bold{
    font-weight: 900;
    font-size: 40px;
}

.button a{
    color: white;
}

button{
    background-color:rgb(255, 0, 0);
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
}

.random{
    background-color: rgb(88, 11, 59);
}